html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#viewDiv {
  position: absolute;
  left: 0;
  right: 40%;
  top: 0;
  bottom: 0;
  height: 100%;
}

#panel {
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  overflow: scroll;
}

#total-today-infected {
  color: #ed5050;
  font-size: 36pt;
  font-weight: bolder;
  line-height: 0.8;
}
#total-recovered {
  color: #2ea80f;
  font-size: 20pt;
  font-weight: bolder;
}
#total-deaths {
  color: #a01a95;
  font-size: 20pt;
  font-weight: bolder;
}

.chart-parent1 {
  width: 45%;
  height: 45%;
}

.chart-parent {
  display: flex;
  flex-direction: column; /* Or 'row' for horizontal arrangement */
}

.chart-row {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
}